<h1>{{title}}</h1>
<p>Welcome to {{title}}'s intro page!</p>
<a href="./fa17g15/andrew">Andrew</a> 
<a href="./fa17g15/benedikt">Benedikt</a>
<a href="noran">Noran</a>
<a href="./fa17g15/mena">Mena</a>