<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-faded">
	<a class="navbar-brand" href="#">{{title}}</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{about}}>About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Agents</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
		</ul>
	</div>
</nav>

<!--Page Header/Jumbotron-->
<div class="container-fluid">
	<div class="jumbotron">
		<h1>{{title}}</h1>
			<form class="form-wrapper">
				<input type="text" id="searchBar" placehoder="Search Listings">
				<input type="submit" value="Go" id="submit">
			</form>
	</div>

</div>

<!--Search Results-->
<div class="container">

</div>

<script src="/js/search.js"></script>

