body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.jumbotron {
  align-content: center;
  background-color: white !important;
}
.jumbotron h1 {
  text-align: center;
}
