@globalFont:"Lucida Grande", Helvetica, Arial, sans-serif;

body {
  padding: 50px;
  font: 14px @globalFont;
}

a {
  color: #00B7FF;
}

.jumbotron{
	align-content: center;
	background-color: white !important;
	h1 {
		text-align: center;
	}

}
